*{

margin: 0;
padding: 0;
text-decoration: none;
list-style: none;
}

.Formulario{

background-image: url(/img/fondo.png);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;

}




.contenedor{


 text-align: justify;
 width: 40%;
 height:80;
 background-color: rgb(75, 75, 75);
 border-radius: 10px;
 border: 2px solid;
 color: rgba(0, 0, 0, 0.849);
  font-family:sans-serif;
 

}

button{
    border-radius: 10px;
    border: 2px solid;
    outline: 0;
    display:inline-flexbox;
    padding: 8px;
    color: rgb(0, 0, 0);
    background-color:rgba(255, 255, 255, 0.777);
    text-align: center;
    cursor: pointer;
    width: 25% auto;
    height: auto;
    font-size: 20px;
    margin: 2.5px;
    padding: 5px;

}
button:hover{

    color: rgba(255, 255, 255, 0.777);
     background-color: black;
 }

 a{
    color: black;
    
 }

 a:hover{
  
color: rgb(255, 255, 255);
text-decoration: none;
list-style: none;
}

 

.texto{

    font-size: 25px;

 }



#comentaribox{

width: 70%;
color: rgb(0, 0, 0);
background-color: rgba(238, 238, 238, 0.815);
border-radius: 5px;


}




@media screen and (max-width:1050px){

    .contenedor{


        text-align: justify;
        width: 90%;
        height: auto;
        background-color: rgb(75, 75, 75);
        border-radius: 10px;
        border: 2px solid;
        color: rgba(0, 0, 0, 0.849);
         font-family:sans-serif;
       }



label{
   
    text-align: center;
    font-size: 20px;
   
}

}

@media screen and (max-width:650px){

    .contenedor{


        text-align: justify;
        width: 80%;
        height: auto;
        background-color: rgb(75, 75, 75);
        border-radius: 10px;
        border: 2px solid;
        color: rgba(0, 0, 0, 0.849);
         font-family:sans-serif;
       }



label{
   
    text-align: center;
    font-size: 15px;
   
}

}



    


