*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    
}

body{

    background-color: antiquewhite;
}


.contenedorINDEX{

width: 99%;
height: 1000px;
border: 2px solid;
background-color: blueviolet;

}

#item{
        
    background-color: rgb(112, 80, 122);
    border: 1px solid;
    line-height:60px;
    font-size: 40px;
    border-radius:5px;
    padding: 5px;
  
    
    }
    
    #item:hover{
    
    background-color: rgba(55, 24,
     65, 0.507);
    
    
    }

    img{

        width:400px ;
        border-radius: 10px;
       
        }
        
        img:hover{
            width: 450px;
        }