*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family:'Times New Roman', Times, serif;
}


/*selector de etiqueta*/
body{
   background-color: rgb(255, 255, 255);
   color: rgb(2, 2, 2);
   
}

/*selector de id*/


.contenedor{

    width: 99.5%;
    height: 100%;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
  
   
}





.encabezado{
    height: 95%;
    background-color: rgb(0, 0, 0);
    margin: 1em;
    border-radius: 5px;
    text-align: center;
    border-radius: 5px;

}



ul{

text-align: center;
padding: 10px;
}

li{
    display: inline;
    padding: 10px ;
    margin: 10px;
}

li a:hover{
    font-size: 25px;
color: rgb(255, 255, 255);
text-decoration: none;
list-style: none;
}

/*selctor de clase*/

img:hover{
    width:none;
}
.texto{
   
    text-align: justify;

    font: 20px;
    padding: 5px 25px;
    color: rgb(255, 237, 237);
    text-align: center;

}

.pie {
 height: 100%;
 background-color: rgb(0, 0, 0);

 text-align: center;
 padding: 10px;
 border-radius: 2px;

}


.pie h3{
  padding: 15px;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
   border-radius:5px ;
}



#seccion{

    height: 30px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    text-align:center;
    margin: .5em;
    font-size: 20px;

}



/*Card*/

.card{
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.555);
    overflow: hidden;
    max-width: 200px;
    margin: auto;
    text-align: center;
    border: 1.8px solid;
    border-radius: 7px;
}


.card:hover{

max-width: 215px;

}

p{
 
font-size: 18px;


}


.card img{

    background-color: rgba(255, 255, 255, 0.829);
}

.title{

    color:aqua;
    font-size: 18px;

}


button{

border: none;
outline: 0;
display: inline-block;
padding: 8px;
color: rgb(0, 0, 0);
background-color:rgba(255, 255, 255, 0.777);
text-align: center;
cursor: pointer;
width: 100%;
font-size: 18px;
}

button:hover{

   color: rgba(255, 255, 255, 0.777);
    background-color: black;
}



#tablaProductos{

display: flex;
flex-wrap: wrap;

}










/*flexbox*/



.icono{
    margin: 10px;

}



#contenedorflexAIC{
    
    display: flex;
    width:98%;
    height: 100%;
    flex-direction:row;
    flex-wrap:wrap;
    background-color: rgba(255, 255, 255, 0);
    gap: 15px;
    background-color: rgba(255, 255, 255, 0);
    }


    #contenedorflexAICQ{
    
        display: flex;
        width:98%;
        height: 100%;
        flex-direction:row;
        flex-wrap:wrap;
        background-color: rgba(255, 255, 255, 0);
        gap: 15px;
        background-color: rgba(255, 255, 255, 0);
        }


        #contenedorflexAICW{
    
            display: flex;
            width:98%;
            height: 100%;
            flex-direction:row;
            flex-wrap:wrap;
            background-color: rgba(255, 255, 255, 0);
            gap: 15px;
            background-color: rgba(255, 255, 255, 0);
            }

    #item{
    
        background-color: rgb(255, 255, 255);
        text-align: center;
        width: auto;
        height: auto;
        color: black;
        
        }
        
        #item:hover{
        
        background-color: rgba(197, 197, 197, 0.777);
        
        
        }



            
            
            html{
                scroll-behavior: smooth;
               
            }
            
        
            .Botones{
                display: flex;
                width: 65px;
                height: 25px;
                align-items: center;
                text-align: center;
                justify-content: center;
                background-color:  rgb(0, 0, 0);
                color: rgb(255, 255, 255);
                border: 1.5px solid;
                border-radius: 5px;
             }
               .Botones:hover{
                background-color: rgb(20, 19, 20);
             
              
              
               }
            


/* Menu*/
.container{

    max-width: 1110px;
    margin: 0  auto;
    }
    
    .fondo{
    


        height: 100px ;
        padding: 20px 0;
        background-color: rgb(0, 0, 0);
       
      
       
    }
    .menu{
    
    
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
    }
    
    .logo{
    
        font-size: 30px;
        color: rgb(255, 255, 255);
        font-weight: 800;
      
    
    }
    
    
    
    .menu .navbar ul li{
    
     position: relative;
     float: left;
    
    }
    
    
    .menu .navbar ul li a{
    
    
        font-size: 18px;
        padding: 0px;
        color: rgb(255, 255, 255);
        display: block;
    }
    
    .menu .navbar ul li a:hover{
    
    color: rgb(255, 255, 255);
    
    }
    
    #menu{
        display: none;
    }
    
    .menu-icono{
    
        width: 10px;
    }
    
    .menu label{
    
        cursor: pointer;
        display: none;
    }
    
    #menu:checked ~ .navbar{
        display: initial;
    }

    /*ipad*/






    /*celular*/
    
    @media(max-width: 500px){
     
        .menu-icono{

            width: 30px;
        }




      

        .fondo{
     
        height: 90px;
        background-color: black;
      
        }
    
      
        .menu label{
            display: initial;
            padding: 25px;
           
           
        }
    
        .menu .navbar{
           
            position: absolute;
            top: 95%;
            left: 0;
            right: 0;
            background-color: rgb(0, 0, 0);
            display: none;
         
        }
    
         .menu .navbar ul li{
            width: 88%;
         }
    
    
         #menu:checked~ .nabvar{
            display: initial;
         }
    

         .contenedor{

            width: 100%;
            height:100%;
            background-color: rgb(255, 255, 255);
            border-radius: 5px;
          
           
        }

        .contenedorflexAIC{

            width: 95%;
      
        }
           
    }











